<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de Producto</title>
    <link rel="stylesheet" href="../css/MenuClientes.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../img/LogoAldebaran.png" alt="Logo de la compañía">
            </div>
            <ul class="nav-links">
                <li><a href="MenuClientes.html">Clientes</a></li>
                <li><a id="MenuSaldo" href="MenuSaldo.html">Saldo</a></li>
                <li><a href="MenuPrincipal.html" class="active">Producto</a></li>
                <li><a href="MenuOrdenes.html">Órdenes</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            <button class="btn" onclick="location.href='Consultarproducto.html'">Buscar Productos</button>
            <button id="AgregarProducto" class="btn" onclick="location.href='AgregarProducto.html'">Registrar Producto</button>
            <button id="ActualizarProducto" class="btn" onclick="location.href='ActualizarProducto.html'">Actualizar Producto</button>
            <button id="BorrarProducto" class="btn" onclick="location.href='BorrarProducto.html'">Borrar Producto</button>
        </div>
        <div class="container">
            <label for="filterDisponibilidad">Filtrar por disponibilidad:</label>
            <select id="filterDisponibilidad" onchange="filtrarProductos()">
                <option value="all">Todos</option>
                <option value="Disponible">Disponible</option>
                <option value="No Disponible">No Disponible</option>
            </select>
        </div>
    </main>
    <table id="tabla">
        <thead>
          <tr>
            <th colspan="5">Productos Registrados</th>
          </tr>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Disponible</th>
            <th>Precio</th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
    <script src="../scripts/scriptTablaProductos.js"></script>
    <script>
    if(localStorage.getItem('rol') == 0){ //oculta para los que sean clientes
        document.getElementById('MenuSaldo').classList.add('hidden');
        document.getElementById('AgregarProducto').classList.add('hidden');
        document.getElementById('ActualizarProducto').classList.add('hidden');
        document.getElementById('BorrarProducto').classList.add('hidden');
    }
    </script>
</body>
</html>
