<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de Órdenes</title>
    <link rel="stylesheet" href="../css/MenuClientes.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../img/LogoAldebaran.png" alt="Logo de la compañía">
            </div>
            <ul class="nav-links">
                <li><a href="MenuClientes.html">Clientes</a></li>
                <li><a id="MenuSaldo" href="MenuSaldo.html">Saldo</a></li>
                <li><a href="MenuProductos.html">Producto</a></li>
                <li><a href="MenuPrincipal.html" class="active">Órdenes</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            <button class="btn" onclick="location.href='Consultarproducto.html'">Buscar Producto</button>
            <button class="btn" onclick="location.href='CrearOrden.html'">Crear Orden</button>
            <button class="btn" onclick="location.href='ConsultarOrden.html'">Consultar Orden</button>
            <button id="ActualizarEstadoOrden" class="btn" onclick="location.href='ActualizarEstadoOrden.html'">Actualizar Orden</button>
            <button id="ModificarOrden" class="btn" onclick="location.href='ModificarOrden.html'">Modificar Orden</button>
            <button id="EliminarOrden" class="btn" onclick="location.href='EliminarOrden.html'">Eliminar Orden</button>
        </div>
    </main>

    <script src="scripts.js"></script>
    <script>
    if(localStorage.getItem('rol') == 0){ //oculta para los que sean clientes
        document.getElementById('MenuSaldo').classList.add('hidden');
        document.getElementById('ActualizarEstadoOrden').classList.add('hidden');
        document.getElementById('EliminarOrden').classList.add('hidden');
    }
    </script>
</body>
</html>
